.firstClass{
    font-family: 'Courier New', Courier, monospace;
    color : red;
}

.loader-active {
    display: block;
  }
  
  .table-responsive {
      height: 170px;
      overflow: auto;
    }
  
  .myOptions{
      margin-left: -68px;
      margin-top: -27px;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      min-width: 66px;
      font-weight: normal;
      text-indent: 0;
  }
  
  .badgeClass{
      font-weight: 400;
      padding: 6px 20px 6px 20px;
      color:white;
  }
  
  .progressBarClass{
      height : 8px;
      background-color : #5454ab;
      width : 100px;
  }
  
  .paperClass{
      float:left;
      margin:0 12px 0 2px;
      padding: 6px;
      cursor: pointer;
      padding: 8px 25px 8px 25px;
      background : #90caf9 !important;
      border-radius: 0 !important;
      font-weight: 500 !important;
      font-size: 12px !important;
      box-shadow: none !important;
  }
  .releaseHeading{
      font-weight : 600;
      font-size : 19px;
      margin : 0 0 0.4% 0.5%;
      
  }
  
  .searchInputBox{
      margin-right : 0% !important;
      float : right;
      width : 25% !important;;
      height: 12px !important;
      margin-top: -8px !important;
      padding-top: 18px;
  }
  div.hr-line {
      position: relative;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #e0e0e0;
  }
  .dropbtn{
    font-size: 16px;
    border: none;
    cursor: pointer;
    }
  .dropdown{
    display: inline-block;
    }
  .dropdown-content{
      display: none;
      position: absolute;
      z-index: 1;
  }
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}

  .refreshIconClass{
      margin-top: 4px;
      float: left;
      cursor: pointer;
      color: #00000042; 
  }

  .textTableCell{
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
 
  